html,
body {
  height: auto;
}

.main {
  max-width: 100%;
}

#navbar {
  width: 100%;
  height: 10vh;
  background-color: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #c8c8c8;
}

.container {
  height: auto;
  width: 100%;
  background-color: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 0;
  max-width: 80%;
}

.card {
  height: 6rem;
  width: 12rem;
  border: 0.05rem solid white;
  border-radius: 0.8rem;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: white;
  margin: 2rem;
}

.card-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  font-size: small;
  text-transform: uppercase;
  font-weight: 900;
}

.card-content {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  font-size: 2rem;
  font-weight: 700;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.red-card {
  background-color: rgba(204, 0, 0, 0.1);
}

.neutral-card {
  background-color: rgba(0, 0, 0, 0.1);
}

.green-card {
  background-color: rgba(10, 192, 3, 0.1);
}

.yellow-card {
  background-color: rgba(255, 251, 0, 0.1);
}

.green {
  color: #0ac003;
}

.neutral {
  color: #d6d6d6;
}

.red {
  color: #c00;
}

.yellow {
  color: #fffb00;
}

.instruction {
  color: #c8c8c8;
  font-size: large;
}

.india-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  height: auto;
}

.india-card {
  height: auto;
  width: 10rem;
  border: 0.05rem solid white;
  border-radius: 0.8rem;
  padding: 0.5rem;
  margin: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.india-card-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: medium;
}

.india-card-content-row {
  padding: 0;
  margin: 0;
  max-height: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.india-card-field {
  text-transform: uppercase;
  font-weight: 600;
  font-size: smaller;
}

.india-card-content {
  font-weight: 700;
  font-size: medium;
}
/*# sourceMappingURL=App.css.map */